@inherits Mythetech.Framework.Infrastructure.MessageBus.ComponentConsumer<TestCommand>

<p>@Text</p>

@code {
    private string? Text { get; set; }
    
    protected override Task Consume(TestCommand message, CancellationToken cancellationToken)
    {
        Text = message.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }

}