@using Mythetech.Framework.Components.SimpleTabs
<BlazingStoryApp Title="Mythetech" Assemblies="[typeof(App).Assembly, typeof(SimpleTabs).Assembly]" DefaultLayout="typeof(DefaultLayout)" AvailableColorSchemes="AvailableColorSchemes.Both">
    <BrandLogoArea>
            <MudImage Style="margin-top:-0.75em;margin-right:-0.25em;" Height="48" Src="typhon.png"/>
            <span class="mythetech-font" style="vertical-align: top">Mythetech</span>
    </BrandLogoArea>
</BlazingStoryApp>