html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.border-l {
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}

code {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Consolas', 'Courier New', monospace;
}

